.contactForm {
  margin-top: 40px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.card-header:first-child {
 text-align: center;
}

.icons-github {
  margin-left: 5px;
}
.icons {
  width: 40px;
}

.icons-email {
  width: 55px
}
/* .icon-gap {
  padding-right: 10px;
  padding-left: 10px;
}

.icon-div {
  margin-top: 20px;
  margin-bottom: -10px;
} */